@media only screen and (min-width: 910px) {
    .info {
        display: grid;
        grid-template-areas: "photo text"
                             "contacts text";
        grid-template-rows: 350px auto;
        grid-template-columns: 250px 550px;
    }

    .text {
        border-right: 1px solid rgb(85, 85, 85);
    }

    .photo, .contacts {
        border-left: 1px solid rgb(85, 85, 85);
    }
}


@media only screen and (max-width: 910px) {
    .info {
        display: grid;
        grid-template-areas: "text text"
                             "photo contacts";
        grid-template-rows: auto 300px;
        grid-template-columns: 30% auto;
    }

    .text {
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
    }

    .photo {
        border-left: 1px solid rgb(85, 85, 85);
    }

    .contacts {
        border-right: 1px solid rgb(85, 85, 85);
    }
}

.photo {
    grid-area: photo;
    background-color: rgb(105, 105, 105);
    padding: 5px;
}

.contacts {
    grid-area: contacts;
    background-color: lightgrey;
    padding: 5px;
}

.text {
    grid-area: text;
    background-color: #eeeeee;
    padding: 5px;
}