.text {
    grid-area: text;
    background-color: #eeeeee;
    padding: 30px;
}

.text h3 {
    margin: 20px 10px;
}

.text ul {
    padding-left: 70px;
}

.text p {
    padding: 10px;
}

.text a {
    color: blue;
}

.text .name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 50px;
}

.text .profession {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 30px;
}