.header {
    display: grid;
    grid-template-areas: "langMenu mainMenu";
    grid-template-columns: 50% 50%;
}

.langMenu {
    grid-area: langMenu;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mainMenu {
    grid-area: mainMenu;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}