.footer {
    grid-area: footer;
    background-color: white;
    padding: 5px;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
    border-bottom: 1px solid rgb(85, 85, 85);
}