@media only screen and (min-width: 710px) {    
    .footer {
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
        border-bottom: 1px solid rgb(85, 85, 85);
    }
}

@media only screen and (max-width: 710px) {    
    .footer {
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
        border-bottom: 1px solid rgb(85, 85, 85);
    }
}

.footer {
    grid-area: footer;
    background-color: white;
    padding: 5px;
}