@media only screen and (min-width: 910px) {
    .main {
        display: grid;
        justify-content: center;
        height: 100vh;
        grid-template-areas: "head"
                             "info"
                             "footer";
        grid-template-rows: 45px auto 50px;
        grid-template-columns: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        border-top: 1px solid rgb(85, 85, 85);
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
    }
    
    .footer {
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
        border-bottom: 1px solid rgb(85, 85, 85);
    }
}

@media only screen and (max-width: 910px) {
    .main {
        display: grid;
        justify-content: center;
        height: 100vh;
        grid-template-areas: "head"
                             "info"
                             "footer";
        grid-template-rows: 40px auto 40px;
        grid-template-columns: 95vw ;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        border-top: 1px solid rgb(85, 85, 85);
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
    }
    
    .footer {
        border-left: 1px solid rgb(85, 85, 85);
        border-right: 1px solid rgb(85, 85, 85);
        border-bottom: 1px solid rgb(85, 85, 85);
    }
}

.header {
    position: sticky;
         top:0;
    grid-area: head;
    background-color: grey;
    padding: 5px;
}

.info {
    grid-area: info;
    background-color: #eeeeee;
}

.footer {
    grid-area: footer;
    background-color: white;
    padding: 5px;
}