.app {
    display: grid;
    justify-content: center;
    height: 100vh;
    grid-template-areas: "head"
                         "main"
                         "footer";
    grid-template-rows: 45px auto 50px;
    grid-template-columns: 950px;
    margin-left: auto;
    margin-right: auto;
}